<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Banner Management</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Ecommerce</a></li>
                                <li class="breadcrumb-item active">Add Product</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">

                            <h4 class="card-title">Basic Information</h4>
                            <p class="card-title-desc">Fill all information below</p>

                            <form action="/banner/add-banner-1" method="post" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="mb-3">
                                            <label for="productname">Banner Name</label>
                                            <input id="productname" name="bannername" type="text" class="form-control"
                                                placeholder="Banner Name">
                                        </div>
                                        <div class="mb-3">
                                            <label for="manufacturerbrand">Middle Content</label>
                                            <input id="manufacturerbrand" name="middleContent" type="text"
                                                class="form-control" placeholder="Middle Content">
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                       

                                        <div class="mb-3">
                                            <label for="manufacturerquantity">Top Content</label>
                                            <input id="manufacturerquantity" name="topContent" type="text"
                                                class="form-control" placeholder="Top Content">
                                        </div>
                                        <div class="mb-3">
                                            <label for="productdescription">Bottom Content</label>
                                            <input id="manufacturerquantity" name="bottomContent" type="text"
                                                class="form-control" placeholder="Bottom Content">
                                        </div>

                                    </div>
                                </div>
                                <div class="fallback">
                                    <input name="image1" type="file" onchange="viewImage1(event)">
                                    <img width="100px" height="auto" src="" id="imgView1">
                                </div> 

                                <div class="d-flex flex-wrap gap-2">
                                    <button type="submit" class="btn btn-primary waves-effect waves-light">Add Banner</button>
                                    <button type="button"
                                        class="btn btn-secondary waves-effect waves-light">Cancel</button>
                                </div>
                                
                            </form>

                        </div>
                    </div>

                    

                    
                </div>
            </div>
            <!-- end row -->

        </div> <!-- container-fluid -->
    </div>
    <!-- End Page-content -->


    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <script>document.write(new Date().getFullYear())</script> © Skote.
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end d-none d-sm-block">
                        Design & Develop by Themesbrand
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

<script>
    function viewImage1(event){
        console.log("hey")
        document.getElementById('imgView1').src=URL.createObjectURL(event.target.files[0])
    }

</script>