<div id="layout-wrapper">  
            

            <!-- ========== Left Sidebar Start ========== -->

            
            <!-- Start right Content here -->
            <!-- ============================================================== -->
                <div class="main-content">

                    <div class="page-content">
                        {{!-- <div class="container-fluid"> --}}

                            <!-- start page title -->
                            <div class="row">

                               
                                <table class="table" id="adminTable" >
                                    <thead>
                                        <tr >
                                        <th scope="col">No</th>
                                        <th scope="col">Category Name</th>
                                        <th scope="col">View Details</th>
                                        <th scope="col">Actions</th>
                                        </tr>
                                    </thead>
                                        <tbody >
                                            {{#each cattDetails}}
                                                <tr class="align-middle">
                                                    <td></td>
                                                    <td>{{this.categoryName}}</td>
                                                    <td><a href="/categoryManagement/viewSubcategory/{{this._id}}">View Subcategories</a></td>
                                                    <td>
                                                        <a class="btn btn-danger mt-2 "   onclick="sweetAlert()" type="submit">Delete</a>
                                                    </td>
                                                </tr>
                                            {{/each}}
                                            
                                        </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
</div>





<script>
    function sweetAlert(){
    swal({
    title: "Are you sure?",
    text: "Once deleted, you will not be able to recover this imaginary file!",
    icon: "warning",
    buttons: true,
    dangerMode: true,
    })
    .then((willDelete) => {
    if (willDelete) {
        swal("Poof! Your imaginary file has been deleted!", {
        icon: "success",
        });
    } else {
        swal("Your imaginary file is safe!");
    }
    });
    }
    
</script>


