<div id="layout-wrapper">  
            

            <!-- ========== Left Sidebar Start ========== -->

            
            <!-- Start right Content here -->
            <!-- ============================================================== -->
                <div class="main-content">

                    <div class="page-content">
                        {{!-- <div class="container-fluid"> --}}

                            <!-- start page title -->
                            <div class="row">

                                
                                <table class="table" id="adminTable" >
                                    <thead>
                                        <tr >
                                        <th scope="col">No</th>
                                        <th scope="col">Sub Category</th>
                                        
                                        <th scope="col">Actions</th>
                                        </tr>
                                    </thead>
                                        <tbody >
                                            {{#each cattDetails}}
                                                <tr class="align-middle">
                                                    <td></td>
                                                    <td>{{this.subCategory}}</td>
                                                    <td>
                                                        <a class="btn btn-danger mt-2 "  href="/userMement/delete/{{this._id}}" onclick="return confirm('click Ok to confirm Delete {{this.categoryName}}')" type="submit">Delete</a>
                                                    </td>
                                                </tr>
                                            {{/each}}
                                            
                                        </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
</div>





{{!-- 
<div class="container">
    <div class="row">
        
    </div>
</div> --}}


