{{!-- <h1>{{message}}</h1>
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre> --}}

<div class="container">

<lottie-player src="https://assets10.lottiefiles.com/packages/lf20_afwjhfb2.json"  background="transparent" class=""  speed="1"  style="width: auto; height: 50rem;"  loop  autoplay></lottie-player>
</div>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

<script>
    window.onload = setTimeout(()=>{
        window.location = '/'
    },5000)
</script>