

    <body class="page-template checkout-success">
        <!-- Page Loader -->
        <div id="pre-loader"><img src="/images/loader.gif" alt="Loading..." /></div>
        <!-- End Page Loader -->

        <!-- Page Wrapper -->
        <div class="pageWrapper">
            <!-- Promotion Bar -->
            
            <!-- End Search Form Drawer -->


            <!-- Body Content -->
            <div id="page-content">
                <!-- Page Title -->
                <div class="page section-header text-center mb-0">
                    <div class="page-title">
                        <div class="wrapper"><h1 class="page-title">Checkout Success</h1></div>
                    </div>
                </div>
                <!-- End Page Title -->
                <!-- Breadcrumbs -->
                <div class="bredcrumbWrap bredcrumb-style2">
                    <div class="container breadcrumbs">
                        <a href="index.html" title="Back to the home page">Home</a><span aria-hidden="true">|</span><span class="title-bold">Checkout Success</span>
                    </div>
                </div>
                <!-- End Breadcrumbs -->

                <div class="container checkout-success-content">
                   

                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="card border-0 rounded-0">
                                <div class="card-body text-center">
                                    <p class="checkout-success-icon"><i class="icon an an-check-square"></i></p>
                                    <h4 class="card-title">Thank you for your purchase!</h4>
                                    <p class="card-text mb-1">Your order # is: <b>{{orderId}}</b>.</p>
                                    <p class="card-text mb-1">You will receive an order confirmation email with details of your order and a link to track its progress.</p>
                                    <p class="card-text mb-1">All necessary information about the delivery, we sent to your email</p>
                                    <a href="/" class="btn btn-primary mt-3">Continue Shopping</a>
                                </div>
                            </div>
                        </div>

                        
                    </div>

                 
                </div>
            </div>
            <!-- End Body Content -->

            <!-- Footer -->
            <footer id="footer">
                <div class="site-footer">
                    

                    <div class="footer-middle">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-6 col-lg-6 d-flex justify-content-Start align-items-center">
                                    <div class="footer-social w-100 text-start d-flex">
                                        <h3 class="h4">Stay Connected</h3>
                                        <ul class="list--inline site-footer__social-icons social-icons">
                                            <li><a class="social-icons__link d-inline-block" href="#" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="Facebook"><i class="icon an an-facebook"></i></a></li>
                                            <li><a class="social-icons__link d-inline-block" href="#" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="Twitter"><i class="icon an an-twitter"></i> <span class="icon__fallback-text">Twitter</span></a></li>
                                            <li><a class="social-icons__link d-inline-block" href="#" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="Pinterest"><i class="icon an an-pinterest-p"></i> <span class="icon__fallback-text">Pinterest</span></a></li>
                                            <li><a class="social-icons__link d-inline-block" href="#" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="Instagram"><i class="icon an an-instagram"></i> <span class="icon__fallback-text">Instagram</span></a></li>
                                            <li><a class="social-icons__link d-inline-block" href="#" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="YouTube"><i class="icon an an-youtube"></i> <span class="icon__fallback-text">YouTube</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!--Footer Payment Icon-->
                                <div class="col-12 col-sm-12 col-md-6 col-lg-6 d-flex justify-content-end align-items-center">
                                    <ul class="payment-icons list--inline w-100 justify-content-end text-end">
                                        <li><i class="icon an an-cc-visa" aria-hidden="true"></i></li>
                                        <li><i class="icon an an-cc-mastercard" aria-hidden="true"></i></li>
                                        <li><i class="icon an an-cc-amex" aria-hidden="true"></i></li>
                                        <li><i class="icon an an-cc-paypal" aria-hidden="true"></i></li>
                                        <li><i class="icon an an-cc-discover" aria-hidden="true"></i></li>
                                    </ul>
                                </div>
                                <!-- End Footer Payment Icon-->
                            </div>
                        </div>
                    </div>

                    <div class="footer-bottom">
                        <div class="container">
                            <div class="row">
                                <!-- Footer Copyright -->
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 copyright text-center"><span>&copy; 2021 DIVA.</span> All Rights Reserved.</div>
                                <!-- End Footer Copyright -->
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- End Footer -->

            <!-- Scoll Top -->
            <div id="site-scroll"><i class="icon an an-angle-up"></i></div>
            <!-- End Scoll Top -->


            <!-- End Minicart Drawer -->


     

        </div>
        <!-- End Page Wrapper -->
