<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #2B6570;">
        <div class="container-fluid">
            <a class="navbar-brand" style="color: white;" href="/">OUTFITS</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <nav class="grid__item" id="AccessibleNav">
                    {{!-- <ul class="navbar-nav me-auto mb-2 mb-lg-0"> --}}
                        <ul id="siteNav" class="d-flex flex-wrap site-nav medium left ms-0 hidearrow">
                            <li class="lvl1 parent megamenu">
                                <a href="#" style="color: white;">MENS <i class="an an-angle-down"></i></a>
                                <div class="megamenu style1">
                                    <div class="row">
                                        <div class="lvl-1 col-12 col-md-9 col-lg-9">
                                            <ul class="row grid--uniform mmWrapper">
                                                <li class="lvl-1 col-12 col-md-4 col-lg-4">
                                                    <a href="#" class="site-nav lvl-1">Top Wear</a>
                                                    <ul class="subLinks">
                                                        <li class="lvl-2"><a href="shop-left-sidebar.html"
                                                                class="site-nav">T-Shirts</a></li>
                                                        <li class="lvl-2"><a href="shop-right-sidebar.html"
                                                                class="site-nav">Casual Shirts</a></li>
                                                        <li class="lvl-2"><a href="shop-fullwidth.html"
                                                                class="site-nav">Formal Shirts</a></li>
                                                        <li class="lvl-2"><a href="shop-sidebar-drawer.html"
                                                                class="site-nav">Blazers & Coats</a></li>
                                                    </ul>
                                                </li>
                                                <li class="lvl-1 col-12 col-md-4 col-lg-4">
                                                    <a href="#" class="site-nav lvl-1">Bottom Wear</a>
                                                    <ul class="subLinks">
                                                        <li class="lvl-2"><a href="shop-right-sidebar.html"
                                                                class="site-nav">Jeans</a></li>
                                                        <li class="lvl-2"><a href="shop-grid-2.html"
                                                                class="site-nav">Casual
                                                                Trousers</a></li>
                                                        <li class="lvl-2"><a href="shop-grid-3.html"
                                                                class="site-nav">Formal
                                                                Trousers</a></li>
                                                        <li class="lvl-2"><a href="shop-grid-4.html"
                                                                class="site-nav">Shorts</a></li>
                                                    </ul>
                                                </li>
                                                <li class="lvl-1 col-12 col-md-4 col-lg-4">
                                                    <a href="#" class="site-nav lvl-1 menu-title">Inner Wear and Sleep
                                                        Wear</a>
                                                    <ul class="subLinks">
                                                        <li class="lvl-2"><a href="wishlist.html"
                                                                class="site-nav">Briefs &
                                                                Trunks</a></li>
                                                        <li class="lvl-2"><a href="wishlist-style2.html"
                                                                class="site-nav">Boxers</a></li>
                                                        <li class="lvl-2"><a href="compare.html"
                                                                class="site-nav">Vests</a>
                                                        </li>
                                                        <li class="lvl-2"><a href="compare-style2.html"
                                                                class="site-nav last">Sleepwear & Loungewear</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="lvl1 parent megamenu">
                                <a href="#" style="color: white;">WOMENS <i class="an an-angle-down"></i></a>
                                <div class="megamenu style1">
                                    <div class="row">
                                        <div class="lvl-1 col-12 col-md-9 col-lg-9">
                                            <ul class="row grid--uniform mmWrapper">
                                                <li class="lvl-1 col-12 col-md-4 col-lg-4">
                                                    <a href="#" class="site-nav lvl-1">Indian & Fusion Wear</a>
                                                    <ul class="subLinks">
                                                        <li class="lvl-2"><a href="shop-left-sidebar.html"
                                                                class="site-nav">Kurtas & Suits</a></li>
                                                        <li class="lvl-2"><a href="shop-right-sidebar.html"
                                                                class="site-nav">Kurtis, Tunics & Tops</a></li>
                                                        <li class="lvl-2"><a href="shop-fullwidth.html"
                                                                class="site-nav">Ethnic Wear</a></li>
                                                        <li class="lvl-2"><a href="shop-sidebar-drawer.html"
                                                                class="site-nav">Leggings, Salwars & Churidars</a></li>
                                                    </ul>
                                                </li>
                                                <li class="lvl-1 col-12 col-md-4 col-lg-4">
                                                    <a href="#" class="site-nav lvl-1">Western Wear</a>
                                                    <ul class="subLinks">
                                                        <li class="lvl-2"><a href="shop-right-sidebar.html"
                                                                class="site-nav">Dresses</a></li>
                                                        <li class="lvl-2"><a href="shop-grid-2.html"
                                                                class="site-nav">Tops</a></li>
                                                        <li class="lvl-2"><a href="shop-grid-3.html"
                                                                class="site-nav">Jeans</a></li>
                                                        <li class="lvl-2"><a href="shop-grid-4.html"
                                                                class="site-nav">Shorts
                                                                & Skirts</a></li>
                                                    </ul>
                                                </li>
                                                <li class="lvl-1 col-12 col-md-4 col-lg-4">
                                                    <a href="#" class="site-nav lvl-1 menu-title">Lingerie &
                                                        Sleepwear</a>
                                                    <ul class="subLinks">
                                                        <li class="lvl-2"><a href="wishlist.html"
                                                                class="site-nav">Bra</a>
                                                        </li>
                                                        <li class="lvl-2"><a href="wishlist-style2.html"
                                                                class="site-nav">Briefs</a></li>
                                                        <li class="lvl-2"><a href="compare.html"
                                                                class="site-nav">Sleepwear
                                                                & Loungewear</a></li>
                                                        <li class="lvl-2"><a href="compare-style2.html"
                                                                class="site-nav last">Camisoles & Thermals</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="lvl1 parent megamenu">
                                <a href="#" style="color: white;">KIDS <i class="an an-angle-down"></i></a>
                                <div class="megamenu style1">
                                    <div class="row">
                                        <div class="lvl-1 col-12 col-md-9 col-lg-9">
                                            <ul class="row grid--uniform mmWrapper">
                                                <li class="lvl-1 col-12 col-md-4 col-lg-4">
                                                    <a href="#" class="site-nav lvl-1">Boys Clothing</a>
                                                    <ul class="subLinks">
                                                        <li class="lvl-2"><a href="shop-left-sidebar.html"
                                                                class="site-nav">T-Shirts</a></li>
                                                        <li class="lvl-2"><a href="shop-right-sidebar.html"
                                                                class="site-nav">Shirts</a></li>
                                                        <li class="lvl-2"><a href="shop-fullwidth.html"
                                                                class="site-nav">Shorts</a></li>
                                                        <li class="lvl-2"><a href="shop-sidebar-drawer.html"
                                                                class="site-nav">Jeans</a></li>
                                                        <li class="lvl-2"><a href="shop-listview-sidebar.html"
                                                                class="site-nav">Trousers</a></li>
                                                        <li class="lvl-2"><a href="shop-left-sidebar.html"
                                                                class="site-nav">Innerwear & Thermals</a></li>
                                                        <li class="lvl-2"><a href="shop-left-sidebar.html"
                                                                class="site-nav">Nightwear & Loungewear</a></li>
                                                        <li class="lvl-2"><a href="shop-right-sidebar.html"
                                                                class="site-nav">Value Pack</a>
                                                    </ul>
                                                </li>
                                                <li class="lvl-1 col-12 col-md-4 col-lg-4">
                                                    <a href="#" class="site-nav lvl-1">Girls Clothing</a>
                                                    <ul class="subLinks">
                                                        <li class="lvl-2"><a href="shop-right-sidebar.html"
                                                                class="site-nav">Dresses</a></li>
                                                        <li class="lvl-2"><a href="shop-grid-2.html"
                                                                class="site-nav">Tops</a></li>
                                                        <li class="lvl-2"><a href="shop-grid-3.html"
                                                                class="site-nav">T-Shirts</a></li>
                                                        <li class="lvl-2"><a href="shop-grid-4.html"
                                                                class="site-nav">Clothing Sets</a></li>
                                                        <li class="lvl-2"><a href="shop-grid-5.html"
                                                                class="site-nav">Jeans,
                                                                Trousers & Capris</a></li>
                                                        <li class="lvl-2"><a href="shop-grid-6.html"
                                                                class="site-nav">Innerwear & Thermals</a></li>
                                                        <li class="lvl-2"><a href="shop-listview.html"
                                                                class="site-nav">Nightwear & Loungewear</a></li>
                                                        <li class="lvl-2"><a href="shop-listview-sidebar.html"
                                                                class="site-nav">Value Pack</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                </nav>


                <form method="post" action="/search" class="search-bar__form d-flex position-relative bg-light">
                    <input class="search__input" type="search" name="item" value="" placeholder="Search entire store..."
                        aria-label="Search" style="width: 18rem;" autocomplete="off" />
                    <button class="go-btn search__button" type="submit"><i class="icon an an-search"></i></button>
                </form>
                {{#if userStatus}}
                <div class="col-2 col-sm-4 col-md-5 col-lg-4 text-end">
                    <div class="right-action text-action d-flex-align-center justify-content-end">
                        <!-- User Links -->
                        <div class="item site-user-menu">
                            <a href="/profile" class="icon-login text-capitalize text-nowrap" style="color: white;"><i
                                    class="icon an an-user-alt me-1"></i><span class="text align-middle"
                                    style="color: white;">Profile</span></a>
                        </div>
                        <!-- End User Links -->
                        <!-- Wishlist -->
                        <div class="item site-header-wishlist d-none d-lg-block">
                            <a href="/wishlist" class="icon-wishlist text-capitalize" style="color: white;"><i
                                    class="icon an an-heart me-1"></i><span
                                    class="text align-middle">Wishlist</span><span
                                    class="site-header-wish-count1 d-none" data-cart-render="item_count">(0)</span></a>
                        </div>
                        <!-- End Wishlist -->
                        <!-- Minicart -->
                        <div class="item site-cart d-none d-lg-block">
                            <a href="/cart" class="icon-cart site-header-cart btn-minicart text-capitalize"
                                style="color: white;" data-bs-toggle="modal" data-bs-target="#minicart-drawer"><i
                                    class="icon an an-shopping-bag me-1"></i><span
                                    class="text align-middle">Cart</span>(<span class="site-header__cart-count1"
                                    data-cart-render="item_count">0</span>)</a>
                        </div>
                        <!-- End Minicart -->
                    </div>
                </div>
                {{else}}
                <div class="col-2 col-sm-4 col-md-5 col-lg-4 text-end">
                    <div class="right-action text-action d-flex-align-center justify-content-end">
                        <!-- User Links -->
                        <div class="item site-user-menu">
                            <a href="/signIn" class="icon-login text-capitalize text-nowrap" style="color: white;"><i
                                    class="icon an an-user-alt me-1"></i><span class="text align-middle"
                                    style="color: white;">LogIn</span></a>
                        </div>
                    </div>
                </div>
                {{/if}}
            </div>
        </div>
    </nav>  