<div class="container" style="margin-top: 10%;">
    <div class="row justify-content-center">
        <div class="card" style="width: 30rem;">
            <div class="text-center mb-4">
                <h3>SIGN IN WITH OTP</h3>
            </div>
            <form method="post" action="/signIn/getnumber">
                <div class="mb-3">
                    <label for="examplephoneNumber" class="form-label">Enter the mobile number</label>
                    <input name="phoneNumber" type="number" class="form-control" id="phoneNumber" aria-describedby="emailHelp">
                    {{!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> --}}
                </div>
                {{#if err}}
                  <p class="text-danger">{{err}}</p>
                {{/if }}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>